<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    <title>@ViewBag.Title - Viedā slimnīca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Notifications.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbarlogo"><img src="~/Content/images/logovs.png" width="55" height="55" /> 
                @Html.ActionLink("Viedā Slimnīca", "Index", "Pacients", new { area = "" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <AnonymousTemplate>
                    <ul class="nav navbar-nav navbar-right">
                        
                        @{if (Request.IsAuthenticated)
                            {
                                if (this.User.IsInRole("User"))
                                {

                                    <li>@Html.ActionLink("Kontakti", "Contact", "Pacients")</li>
                                    <li><a runat="server" id="zinojumiNav" href="~/Message/Index">Ziņojumi</a></li>
                                    <li>@Html.ActionLink("Mani Dati", "PatientView", "Pacients")</li>
                                    <li>@Html.ActionLink("Iziet", "LogOf", "Pacients")</li>
                                }
                                else
                                {
                                    if (this.User.IsInRole("Employee"))
                                    {
                                        <li><a runat="server" id="zinojumiNav" href="~/Message/Index">Ziņojumi</a></li>
                                        <li><a runat="server" href="~/Pacients/Index">Pacienti</a></li>
                                        <li><a runat="server" href="~/Pacients/Izrakstisanas">Izrakstīšana</a></li>
                                        <li><a runat="server" href="~/Palatas/Index">Palātas</a></li>
                                        <li>@Html.ActionLink("Kontakti", "Contact", "Pacients")</li>
                                        <li>@Html.ActionLink("Iziet", "LogOf", "Pacients")</li>
                                    }
                                    if (this.User.IsInRole("SuperAdmin"))
                                    {
                                        <li><a runat="server" href="~/Pacients/BlockedUsers">Bloķētie Lietotāji</a></li>
                                        <li><a runat="server" href="~/Pacients/Register">Reģistrēt</a></li>
                                        <li><a runat="server" id="zinojumiNav" href="~/Message/Index">Ziņojumi</a></li>
                                        <li><a runat="server" href="~/Pacients/Izrakstisanas">Izrakstīšana</a></li>
                                        <li><a runat="server" href="~/Palatas/Index">Palātas</a></li>
                                        <li><a runat="server" href="~/Pacients/Index">Pacienti</a></li>
                                        <li>@Html.ActionLink("Kontakti", "Contact", "Pacients")</li>
                                        <li>@Html.ActionLink("Iziet", "LogOf", "Pacients")</li>
                                    }
                                }
                                @*<li><a runat="server" href="~/Palatas/Index">Palātas(temp)</a></li>
                                <li><a runat="server" href="~/Pacients/Index">Pacienti</a></li>
                                <li>@Html.ActionLink("Iziet", "LogOf", "Pacients")</li>*@
                            }
                            else
                            {
                                <li>@Html.ActionLink("Kontakti", "Contact", "Pacients")</li>
                                <li><a runat="server" href="~/Pacients/Register">Reģistrēt</a></li>
                                <li>@Html.ActionLink("Autorizēties", "LoginAc", "Pacients")</li>
                            }
                        }
                    </ul>
                </AnonymousTemplate>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <div class="notification" id="notification">
            <div class="notification-body" id="notification-body">hi</div>
            <div class="notification-footer" id="notification-footer"><button onclick="closeNotif()">X</button></div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Viedā Slimnīca 
            @if (this.User.Identity.Name != "") {<text>| Ielogojies kā <div id="username" style="display:inline"> @Html.ViewContext.HttpContext.User.Identity.Name</div> </text>}</p>
        </footer>
    </div>

   @* @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @if (ViewBag.Message != null)
    {
        <script>
        $(document).ready(function () {
            alert('@ViewBag.Message');
        });
        </script>
    }

</body>
</html>