@model ViedaSlimnicaProject.Models.Palata

@{
    ViewBag.Title = "Delete";
}

<h2>Dzēst palātu</h2>

<h3>Vai tiešām vēlaties dzēst šo palātu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nodala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nodala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stavs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stavs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalatasIetilpiba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalatasIetilpiba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GultasNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GultasNr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Dzēst" class="btn btn-default" /> |
            @Html.ActionLink("Atpakaļ uz sarakstu", "Index")
        </div>
    }
</div>
