@model ViedaSlimnicaProject.Models.Palata

@{
    ViewBag.Title = "Palātas detaļas";
}

<h2>Palātas detaļas</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nodala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nodala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stavs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stavs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalatasIetilpiba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalatasIetilpiba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GultasNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GultasNr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Labot", "Edit", new { id = Model.PalatasID }) |
    @Html.ActionLink("Atpakaļ uz sarakstu", "Index")
</p>
