
@model PagedList.IPagedList<ViedaSlimnicaProject.Models.Palata>

@*@model IEnumerable<ViedaSlimnicaProject.Models.Palata>*@

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Palātu saraksts";
}

<h2>Palātas</h2>

<p>
    @Html.ActionLink("Izveidot jaunu palātu", "Create")
</p>

<div class="table-container">
    <table class="table">
        <tr>
            <th>
                @*@@Html.DisplayNameFor(model => model.PalatasID)*@
                Palātas ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Nodala)*@
                @Html.ActionLink("Nodaļa", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Stavs)*@
                Stāvs
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.PalatasIetilpiba)*@
                Palātas ietilpība
            </th>
            <th>
                Aizņemtās gultas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PalatasID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nodala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stavs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PalatasIetilpiba)
                </td>
                <td>
                    @item.Pacienti.Count
                </td>
                <td>
                    @Html.ActionLink("Labot", "Edit", new { id = item.PalatasID }) |
                    @Html.ActionLink("Detaļas", "Details", new { id = item.PalatasID }) |
                    @Html.ActionLink("Dzēst", "Delete", new { id = item.PalatasID })
                </td>
            </tr>
        }

    </table>
    </div>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page}))