@model ViedaSlimnicaProject.Models.Pacients

@{
    ViewBag.Title = "Pacienta detaļas";
}

<h2>Detaļas</h2>

<div>
    <h4>Pacients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uzvards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uzvards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersKods)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersKods)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epasts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epasts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TNumurs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TNumurs)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Simptomi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Simptomi)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Nodala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nodala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalatasID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalatasID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IerasanasDatums)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IerasanasDatums)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Labot", "Edit", new { id = Model.PacientaID }) |
    @Html.ActionLink("Atpakaļ uz sarakstu", "Index")
</p>
