
@model PagedList.IPagedList<ViedaSlimnicaProject.Models.Pacients>

 @*@model IEnumerable<ViedaSlimnicaProject.Models.Pacients>*@

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Pacientu saraksts";
}

<h1>Pacientu saraksts</h1>

<p>
    @Html.ActionLink("Reģistrēt jaunu pacientu", "Create") 
    
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("searchStringin",null, ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control meklet", @placeholder="Meklēt"})
        <input class="btn btn-default btn-meklet" type="submit" value="Meklēt" />
    </p>
}
<div class="table-container">
<table class="table">
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.Vards)*@
            Vārds
        </th>
        <th>
            @*Uzlikeu Hiperlinkus tiem atributime pec kurim notiek kartosana*@
           @*@Html.DisplayNameFor(model => model.Uzvards)*@
            @Html.ActionLink("Uzvārds", "Index", new { sortOrder = "uzvards", currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#555555" })
        </th>
        <th>
          @*  @Html.DisplayNameFor(model => model.PersKods)*@
            Personas kods
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Epasts)*@
            E-pasts
        </th>
        <th>
          @*  @Html.DisplayNameFor(model => model.TNumurs)*@
            Telefona nr.
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Simptomi)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Palata.Nodala)*@
            @Html.ActionLink("Nodaļa", "Index", new { sortOrder = "nod_desc", currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#555555" })
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Palata)*@
            Palāta
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.IerasanasDatums)*@
            @Html.ActionLink("Ierašanās datums", "Index", new { sortOrder = "date", currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#555555" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uzvards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersKods)
        </td>
        <td>
            <div class="mailText"> @Html.DisplayFor(modelItem => item.Epasts, "EmailAddress")</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TNumurs)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Simptomi)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Palata.Nodala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palata.PalatasID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IerasanasDatums)
        </td>
        <td>
            <div class="tablecontrols">
             <a href="@Url.Action("Edit","Pacients", new {id = item.PacientaID})" class="icon"><span title="Labot" class="glyphicon glyphicon-edit"></span></a>
             <a href="@Url.Action("Details","Pacients", new {id = item.PacientaID})" class="icon"><span title="Detaļas" class="glyphicon glyphicon-th-list"></span></a>
             <a href="@Url.Action("Delete","Pacients", new {id = item.PacientaID})" class="icon"><span title="Izrakstīt" class="glyphicon glyphicon-trash"></span></a>
             <a href="@Url.Action("Palata","Pacients", new {id = item.Palata.PalatasID})" class="icon"><span title="Apskatīt palātu" class="glyphicon glyphicon-home"></span></a>
              <a href="@Url.Action("Rekins","Pacients", new {id = item.PacientaID})" class="icon"><span title="Rēķins" class="glyphicon glyphicon-euro"></span></a>
        </div>
            </div>
        </td>
    </tr>
}

</table>
    </div>
<br />
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
