@model IEnumerable<ViedaSlimnicaProject.Models.Pacients>

@{
    ViewBag.Title = "Izrakstisanas";
}

<h2>Izrakstisanas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uzvards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersKods)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epasts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TNumurs)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Rekins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IerasanasDatums)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IzrakstisanasDatums)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uzvards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersKods)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epasts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TNumurs)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Rekins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IerasanasDatums)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IzrakstisanasDatums)
        </td>
        <td>
            <a href="@Url.Action("Details","Pacients", new {id = item.PacientaID})" class="icon"><span title="Detaļas" class="glyphicon glyphicon-th-list"></span></a>
            <a href="@Url.Action("Delete","Pacients", new {id = item.PacientaID})" class="icon"><span title="Izrakstīt" class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
