@model IEnumerable<ViedaSlimnicaProject.Models.Pacients>

@{
    ViewBag.Title = "Palata";
}
@* Don't judge please *@
 @foreach (var item in Model)
 {
    <h2>@Html.DisplayFor(modelItem => item.Palata.PalatasID). palāta </h2>
    <h4>@Html.DisplayFor(modelItem => item.Palata.Nodala) nodaļa</h4>
    <h4>@Html.DisplayFor(modelItem => item.Palata.Stavs). stāvs</h4>
    break;
 }


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uzvards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersKods)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epasts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TNumurs)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Palata.PalatasID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IerasanasDatums)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uzvards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersKods)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epasts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TNumurs)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Palata.PalatasID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IerasanasDatums)
        </td>
        <td>
            @Html.ActionLink("Labot", "Edit", new { id=item.PacientaID }) |
            @Html.ActionLink("Detaļas", "Details", new { id=item.PacientaID }) |
            @Html.ActionLink("Dzēst", "Delete", new { id=item.PacientaID })
        </td>
    </tr>
}

</table>
