@model ViedaSlimnicaProject.Models.Profils

@{
    ViewBag.Title = "Atjaunot paroli";
}
@using (Html.BeginForm())
{
<script type="text/javascript" src="~/Scripts/PasswordPass.js"></script>
<h2>Atjaunot Paroli</h2>
<div class="form-horizontal">
    @Html.HiddenFor(model => model.ProfileID)
    <div class="col-md-10">
        @Html.Label("Jauna parole")
        @Html.Editor("testingPassword", new { htmlAttributes = new { @type = "password", @class = "form-control", @id = "pass1" } })
    </div>
    <div class="col-md-10">
        @Html.Label("Apstipriniet paroli")
        @Html.Editor("newPassword", new { htmlAttributes = new { @type = "password", @class = "form-control", @id= "pass2", @onkeyup = "checkPass(); return false;"} })
        <span id="confirmMessage" class="confirmMessage"></span>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left:15px;margin-top:10px">
            <input type="submit" value="Saglabāt" class="btn btn-default" style="" />
        </div>
    </div>
</div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
